@inherits LayoutComponentBase

<div class="page">
    @Body
</div>
<footer class="footer-home">
    <div>
        © 2024 Tienda de Gorras. Todos los derechos reservados. | Contacto: ahumada@gorras.com
    </div>
</footer>