@inherits LayoutComponentBase
@using cliente.Pages
<div class="page">
    <main style="margin-top: 70px;">
        @Body
        <style>
            .contenido {
                margin-top: 80px;
                padding: 20px;
            }
</style>
    </main>
</div>