@page "/"
@using cliente.Services
@inject ApiService ApiService

<PageTitle>Inicio</PageTitle>

<header class="custom-header">
    <div class="header-content">
        <h1 class="store-title">🖤 Black Store</h1>
    </div>

<a class="alert-container" href="/carrito">
    @if (cartCount == 0)
    {
        <div class="alert alert-info">No hay productos en el carrito.</div>
    }
    else
    {
        <div class="alert alert-success">Hay @cartCount productos en el carrito.</div>
    }
</a>
</header>




<Catalogo />

@code {
    private int cartCount = 0;

    protected override async Task OnInitializedAsync()
    {
        // cartCount = await CarritoService.ObtenerCantidad();
        cartCount = 1; // Cambia esto por lógica real si quieres.
    }
}
