@page "/"
@using cliente.Services
@inject ApiService ApiService

<PageTitle>Inicio</PageTitle>

<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img src="imagenes/Rare-Beauty-Logo.png" alt="Logo" width="100" height="55" class="d-inline-block align-text-top">
    </a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">Inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Productos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Carrito</a>
        </li>
      </ul>
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Buscar" aria-label="Search"/>
        <button class="btn btn-outline-success" type="submit">Buscar</button>
      </form>
    </div>
  </div>
</nav>
<main class="contenedor-inicio">
    <div class="contenido-inicio">
    <header class="titulo">
        <h1>¡Bienvenida a Rare Beauty!</h1>
    </header>
        <p class="descripcion">
            Descubrí la belleza que hay en vos con Rare Beauty, la línea de maquillaje creada por <strong>Selena Gomez</strong>. Auténtico, liviano y diseñado para realzar lo que te hace única. <br>
            En Rare Beauty, creemos que la belleza no es un estándar, sino una expresión de tu individualidad. Nuestros productos están formulados para ser inclusivos y accesibles, permitiéndote resaltar tu belleza natural sin esfuerzo.
        </p>
        <button type="button" class="btn btn-outline-light">¡Comprar!</button>
    </div>
    <div class="contenedor-imagen">
        <img src="imagenes/selenafondp.webp" alt="Selena Gomez" class="imagen-inicio">
    </div>
</main>


