@page "/"
@using cliente.Services
@using cliente.Models
@inject ApiService ApiService

<PageTitle>Inicio</PageTitle>

<div class="container">
    <div class="row mb-4">
        <div class="col-12">
            <h1>Bienvenido a la Tienda Online</h1>
            <p>¡Explorá nuestros productos y agregá lo que quieras al carrito!</p>
        </div>
    </div>
</div>