@namespace cliente.Shared

<nav>
    <ul>
        <li>
            <NavLink class="nav-link" href="/" Match="NavLinkMatch.All">
                Inicio
            </NavLink>
        </li>
        <li>
            <NavLink class="nav-link" href="/productos">
                Productos
            </NavLink>
        </li>
        <li>
            <NavLink class="nav-link" href="/carrito">
                Carrito
            </NavLink>
        </li>
    </ul>
</nav>