@inherits LayoutComponentBase

<div class="header-container">
    <header class="top-header">
        <NavLink href="/" class="logo-link">
            <img src="img/ssLogo.png" alt="Logo" class="logo" />
        </NavLink>
        
        <input type="text" placeholder="Buscar..." class="search-input" />
        
        <NavLink href="/carrito" class="cart-link">
            <img src="img/carritoCompras.png" alt="Carrito" class="cart-icon" />
        </NavLink>
    </header>

    <NavMenu />
</div>

<main class="main-content">
    @Body
</main>