@inherits LayoutComponentBase

<div class="header-container">
    <header class="top-header">
        <img src="img/ssLogo.png" alt="Logo" class="Logo">
        <input type="text" placeholder="Buscar" class="search-input">
        <NavLink href="/carrito" class="cart-link">
            <img src="img/carritoCompras.png" alt="Carrito" class="cart-icon">
        </NavLink>
    </header>

    <nav class="nav-bar">
        <NavLink href="/" class="nav-link" Match="NavLinkMatch.All">Catalogo</NavLink>
        <NavLink href="/carrito" class="nav-link" Match="NavLinkMatch.All">Carrito</NavLink>
    </nav>
</div>

<main class="main-content">
    @Body
</main>

