@inherits LayoutComponentBase

<nav class="nav-bar">
    <NavLink href="/" class="link-de-nav" Match="NavLinkMatch.All">Catálogo</NavLink>
    <NavLink href="/carrito" class="link-de-nav" Match="NavLinkMatch.All">Carrito</NavLink>
</nav>