:root {
    --nav-height: 50px;
}

.nav-bar {
    position: sticky;
    top: var(--header-height);
    display: flex;
    justify-content: center;
    background-color: #ebd303;
    border-bottom: 1px solid #e0e0e0;
    height: var(--nav-height);
    z-index: 999;
    height: 40px;
}

.link-de-nav {
    color: red;
}
