@inherits LayoutComponentBase

<nav style="background: #eee; padding: 10px;">
    <a href="/" style="margin-right: 15px;">Inicio</a>
    <a href="productos" style="margin-right: 15px;">Catálogo</a>
</nav>

<div class="page">
    @Body
</div>
