@page "/productos"
@using cliente.Modelos
@using cliente.Services
@inject ServicioProductos Services
@inject ServicioCarrito Carritoo
@inject NavigationManager Nav

<h3>Productos</h3>


<p>Productos: @Carritoo.Items.Sum(i => i.Cantidad)</p>

@if (productos == null)
{
    <p>Cargando...</p>
}
else
{
    <ul>
        @foreach (var prod in productos)
        {
            <li>
                @prod.Nombre - $@prod.Precio (Stock: @prod.Stock)
                <button @onclick="() => AgregarAlCarrito(prod)">Agregar al carrito</button>
            </li>
        }
    </ul>
}

<button @onclick="IrAlCarrito">Ir al carrito</button>

@code {
    List<Producto> productos;

    protected override async Task OnInitializedAsync()
    {
        productos = await Services.ObtenerProductosAsync();
    }

    protected override void OnInitialized()
    {
        Carritoo.OnChange += StateHasChanged;
    }

    void AgregarAlCarrito(Producto producto)
    {
        Console.WriteLine("Agregando: " + producto.Nombre);
        Carritoo.AgregarAlCarrito(producto);
    }

    void IrAlCarrito()
    {
        Nav.NavigateTo("/carrito");
    }
}